---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Services">
    <p>With expertise in Bash scripting, Linux administration, and systems understanding, I offer the following services:</p>
    <section><h2>Bash Scripting</h2>
        <p>I provide Bash scripting services for automating tasks, creating custom command-line/terminal user interface utilities, and developing system administration scripts</p>
    </section>
    <section><h2>Linux Administration</h2>
        <p>With my extensive experience in Linux systems, I offer Linux administration services including server setup and configuration, troubleshooting, security enhancements, and performance optimization</p>
    </section>
    <section><h2>Systems Programming</h2>
        <p>Having deep understanding in systems and low-level concepts, I provide systems programming services for developing effcient and reliable software</p>
    </section>
    <section><h2>Custom Solutions</h2>
        <p>From simple scripts to low-level system programming to high-performance applications, I can assist </p>
        <p>Need a custom solution tailored to your specific requirements? Contact me to discuss your project needs and how I can help</p>
    </section>
    <section><h2>Consultation and Training</h2>
        <p>In addition to services, I also offer consultation and training sessions to help you and your team improve your skills in Bash scripting, Linux administration, and systems programming</p>
        <p>For inquiries or to discuss your project, feel free to <a href="/contact">contact me</a></p>
    </section>
</Layout>