<footer id="footer">
    <p id="footer__attr">&copy; 2024 - Open Source Force</p>
    <a id="footer__deploy" href="https://github.com/wick3dr0se/wick3dr0se.github.io">
        <img id="footer__deploy__badge" src="https://github.com/wick3dr0se/wick3dr0se.github.io/actions/workflows/astro.yml/badge.svg" alt="Deploy Status">
    </a>
</footer>

<style lang="scss">
    #footer {
        z-index: -1;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 70%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 2%;
        background-color: var(--crust);
        color: var(--overlay2);
        &__attr {
            font-size: 10px;
        }
        &__deploy {
            transition: transform 0.3s ease-in-out;
            &__badge {
                width: auto;
                height: 10px;
            }
        }
        &__deploy:hover {
            transform: scale(1.1);
        }
    }
</style>