---
import Nav from './Nav.astro'
---

<script>
    const header = document.getElementById('header');
    let lastScrollTop = 0;

    window.addEventListener('scroll', function() {
        let currentScroll = window.scrollY || document.documentElement.scrollTop;
        if (currentScroll > lastScrollTop) {
            header?.classList.remove('visible');
        } else {
            header?.classList.add('visible');
        }
        lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
    });
</script>

<header id="header" class="visible">
    <p id="header__title"><a id="header__title__link" href="/">wick3dr0se</a></p>
    <Nav/>
</header>

<style lang="scss">
    @import '../common.scss';

    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 7vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 2%;
        background-color: rgba(var(--surface0), 0.9);
        box-shadow: 0 1px 5px #00000096;
        transition: transform 0.3s ease;
        transform: translateY(-100%);
        backdrop-filter: blur(0);
        &.visible {
            transform: translateY(0);
            backdrop-filter: blur(2px);
        }
        &__title {
            position: relative;
            z-index: 2;
            transition: transform 0.2s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
            &__link {
                @include anim-underline;
                &:hover::after {
                    background-color: var(--red);
                }
            }
        }
    }
</style>
