---
import Nav from './Nav.astro'
---

<header id="header">
    <div id="header__title">
        <a id="header__title__link" href="/">wick3dr0se</a>
    </div>
    <a id="avatar" href="https://github.com/wick3dr0se">
        <img id="avatar__img" src="/wick3dr0se.png" alt="wick3dr0se avatar"/>
    </a>
    <Nav/>
</header>

<style lang="scss">
    @import '../common.css';

    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 30%;
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
        padding: 0 2%;
        background-color: var(--royal);
        box-shadow: 0 1px 5px #00000096;
        &__title {
            text-align: center;
            margin: 1vh 0;
            font-family: "Pacifico", cursive;
            font-size: 5vw;
            font-weight: 400;
            font-style: normal;
            &__link {
                position: relative;
                text-decoration: none;
                color: var(--text);
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: var(--red);
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
                &:hover::after {
                    opacity: 1;
                }
            }
        }
        #avatar {
            width: 80%;
            display: block;
            margin: 0 auto;
            transition: transform 0.3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
            &__img {
                width: 100%;
                height: auto;
                animation: shake 1s infinite alternate;
            }
        }
    }
    @keyframes shake {
        0% {
            transform: rotate(9deg);
        }
        100% {
            transform: rotate(-9deg);
        }
    }
</style>