---
const items = ["Blog", "Projects", "Services", "Contact"];

const { theme } = Astro.props;
---

<nav id="nav__menu"><ul id="nav__menu__list">{items.map((item) => (<li id="nav__menu__list__btn">
    <a id="nav__menu__list__btn__link" class={`theme-${theme}`} href={`/${item.toLowerCase()}`}>{item}</a>
</li>))}</ul></nav>

<style lang="scss">
    @import "../common.css";
    $nav-colors: (--peach, --blue, --mauve, --green);

    #nav__menu {
        &__list{
            width: 80%;
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            &__btn {
                position: relative;
                &__link {
                    display: block;
                    padding: 10% 0;
                    width: 100%;
                    text-align:center;
                    font-size: 2vh;
                    background: none;
                    text-decoration: none;
                    color: white;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 1px;
                        transition: width 0.3s ease-in-out;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                }
                @for $i from 1 through length($nav-colors) {
                    &:nth-child(#{$i}) &__link:hover:after {
                        background-color: var(nth($nav-colors, $i));
                    }
                }
                .theme-dark {
                    color: var(--text);
                }
                .theme-light {
                    color: var(--crust);
                }
            }
        }
    }
</style>