---
const items = ["Blog", "Projects", "Services", "Contact"];

const { theme } = Astro.props;
---

<nav><ul id="nav__menu">{items.map((item) => (<li id="nav__menu__btn">
    <a id="nav__menu__btn__link" class={`theme-${theme}`} href={`/${item.toLowerCase()}`}>{item}</a>
</li>))}</ul></nav>

<style lang="scss">
    @import "../common.scss";
    $nav-colors: (--peach, --blue, --mauve, --green);

    #nav__menu {
        list-style-type: none;
        &__btn {
            display: inline-block;
            margin-left: 2vw;
            transition: transform 0.2s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
            &__link {
                background: none;
                @include anim-underline;
            }
            @for $i from 1 through length($nav-colors) {
                &:nth-child(#{$i}) &__link:hover:after {
                    background-color: var(nth($nav-colors, $i));
                }
            }
            .theme-dark {
                color: var(--text);
            }
            .theme-light {
                color: var(--crust);
            }
        }
    }
</style>